name: Build

on:
 push:
 pull_request:

env:
  TARGET_REPO_OWNER: SignPath
  SUBMIT_SIGNING_REQUEST_TARGET_REPO: github-action-submit-signing-request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - name: checkout
      uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: npm

    - name: build the actions
      run: npm run build

    - name: pushes build result
      if: github.ref_type == 'branch'
      uses: cpina/github-action-push-to-another-repository@v1.7.2
      env:
        API_TOKEN_GITHUB: ${{ secrets.PUBLISH_BUILD_GITHUB_TOKEN }}
      with:
        source-directory: './actions/submit-signing-request/dist'
        destination-github-username: ${{ env.TARGET_REPO_OWNER }}
        destination-repository-name: ${{ env.SUBMIT_SIGNING_REQUEST_TARGET_REPO }}
        user-name: GHA build process
        create-target-branch-if-needed: true
        commit-message: Build from - ${{ github.sha }}. Original commit message - ${{ github.event.head_commit.message }}
        target-branch: ${{ github.ref_name  }}
        user-email: actions@github.com